[Unit]
Description=Service file to run Debian Updates
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/local/bin/debupdates

