Source: bunsen-exit
Section: misc
Priority: extra
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5)
Standards-Version: 3.9.5
Homepage: https://github.com/BunsenLabs/bunsen-exit
Vcs-Git: https://github.com/BunsenLabs/bunsen-exit.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-exit.git

Package: bunsen-exit
Architecture: all
Depends: ${misc:Depends}, systemd, python2.7, python-gtk2, python-dbus
Recommends: light-locker
Replaces: bunsen-utilities (<<9.2-1)
Breaks: bunsen-utilities (<<9.2-1)
Description: Bunsen logout script.
 GUI logout/suspend/reboot/poweroff script.

